#loginScreen {
    background-color:#241332;
}

#loginPage {
    height:100vh;
    position:relative;
}

#loginPage .loginInputField {
    padding:6px 0px 6px 0px;
    font-size:16px;
    border:0;
    border-radius:12px;
    text-align:center;
    color:white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight:500;
    background-color:#262E34;
}


#loginPage .loginButton {
    min-width:150px;
    padding:5px 12px 5px 12px;
    color:white;
    border:0;
    border-radius:12px;
    background-color:#2CB26A;
    box-shadow: 4px 4px 7px 1px rgba(44,178,106,0.3);
    font-size:16px;
    text-align:center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight:500;
    cursor:pointer;
    transition: background-color 0.4s ease;   
}

#loginPage .loginButton:hover {
    background-color:#377D3C;
    transition: background-color 0.4s ease;
}

.loginContainer {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.logo {
    max-width:200px;
}