#mainScreen .statsCard {
    margin:0;
    padding:0;
}

#mainScreen .statsCard .statsInside {
    background: rgb(79,183,122);
    background: linear-gradient(130deg, rgba(79,183,122,1) 0%, rgba(79,96,183,1) 100%);
    padding:10px;
    border-radius:20px;
    margin-left:10px;
    margin-right:10px;
}

#mainScreen .statsCard h3 {
    color:white;
    padding-bottom:10px;
    border-bottom:1px solid white;
}

#mainScreen .statsCard .startDate {
    color:white;
}

#mainScreen .currentTimeSpent {
    color:white;
}

#mainScreen #countBtn {
    padding:5px 12px 5px 12px;
    color:black;
    border:0;
    border-radius:12px;
    background-color:white;
    font-size:16px;
    text-align:center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight:700;
    width:150px;
    cursor:pointer;
    transition: background-color 0.4s ease;   
    bottom:0;
    margin-bottom:10px;
    margin-top:30px;
}

#mainScreen #countBtn:hover {
    background-color:#377D3C;
    transition: background-color 0.4s ease;
}