#mainScreen {
    background-color:#131313;
    min-height:calc(100vh - 73px);
}

#mainPage .statsCard {
    margin:0;
    padding:0;
}

#mainPage .statsCard .statsInside {
    background: white;
    padding:10px;
    border-radius:5px;
    margin-left:10px;
    margin-right:10px;
}

#mainPage .statsCard h3 {
    color:black;
    padding-bottom:10px;
    border-bottom:1px solid black;
}

#mainPage .statsCard .startDate {
    color:black;
}

#mainPage .currentTimeSpent {
    color:black;
}

#mainPage #countBtn {
    padding:5px 12px 5px 12px;
    color:white;
    border:0;
    border-radius:5px;
    background-color:#31a257;
    font-size:16px;
    text-align:center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight:700;
    width:150px;
    cursor:pointer;
    transition: background-color 0.4s ease;   
    bottom:0;
    margin-bottom:10px;
    margin-top:30px;
}

#mainPage #countBtn:hover {
    background-color:#17512b;
    transition: background-color 0.4s ease;
}