#topMenuContainer {
    width:100%;
    background-color:#0B2A55;
    position:relative;
    padding:20px 0px 20px 0px;
}

#topMenuContainer .logoMenu {
    max-width:140px;
    margin-left:20px;
}

#topMenuContainer .menuInputContainer {
    display:inline-block;
    margin-right:20px;
}

#topMenuContainer .menuInputContainer h3 {
    color:white;
    font-size:15px;
}

#topMenuContainer .menuInputContainer select {
    padding:2px 7px 2px 7px;
    border:0;
    color:#0B2A55;
    background-color:#F5F5F5;
    border-radius:12px;
    text-align:center;
    font-weight:700;
}

#topMenuContainer #countBtn {
    padding:5px 12px 5px 12px;
    color:white;
    border:0;
    border-radius:12px;
    background: rgb(80,223,90);
    background: linear-gradient(127deg, rgba(80,223,90,1) 0%, rgba(4,209,123,1) 100%); 
    font-size:18px;
    text-align:center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight:700;
    width:150px;
    cursor:pointer;
    transition: all 0.2s ease;   
}

#topMenuContainer #countBtn:hover {
    background: rgb(42,115,47);
    background: linear-gradient(127deg, rgba(42,115,47,1) 0%, rgba(0,168,97,1) 100%); 
    transition: all 0.2s ease;
}

#topMenuContainer #countSave {
    padding:5px 12px 5px 12px;
    color:white;
    border:0;
    border-radius:12px;
    background: rgb(0,77,206);
    background: linear-gradient(127deg, rgba(0,77,206,1) 0%, rgba(121,0,206,1) 100%); 
    font-size:18px;
    text-align:center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight:700;
    width:150px;
    cursor:pointer;
    transition: all 0.2s ease;  
    margin-right:20px; 
}

#topMenuContainer #countSave:hover {
    background: rgb(0,47,200);
    background: linear-gradient(127deg, rgba(0,47,200,1) 0%, rgba(71,0,122,1) 100%); 
}

#topMenuContainer .signOut {
    color:white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size:18px;
    text-align:center;
    cursor:pointer;
    font-weight:700;
    margin-right:20px;
}

#topMenuContainer .signOut:hover {
    text-decoration:underline;
}